/* General Styles */

body { 
    background-color: #EDF3F8;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    font-family: 'DM Serif Display', sans-serif;
    color: #36536B;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.55px;
}

h2, h3, h4, h5 { 
    font-family: 'DM Serif Display', sans-serif;
    color: #36536B;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
}

p {
    font-family: 'Public Sans', sans-serif;
    color: #6C8294;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

a {
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    color: #36536B;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

li {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #36536B;
}

hr {
    background: #36536B;
    opacity: 0.25;
}

.scheduleButton {
    background-color: #BA4270;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    color: #FBFCFE;
    font-size: 15px;
    border: none;
    border-radius: 24px;
    width: 173px;
    height: 48px;
}

.scheduleButton:hover {
    background-color: #DA6D97;
    cursor: pointer;
}


/*  SiteWide */
/*  Navigation bar */

.navigation {
    position: relative;
    display: flex;
    margin: 3.5rem 11% 0;
}

.navigation a {
    margin-top: 0.7rem;
    margin-left: 5%;
    opacity: 0.7;
}

.navigation a:hover {
    opacity: 1;
}

.navigation a:nth-child(1) {
    margin: 0 1rem 0 0;
    opacity: 1;
}

#navigationButton {
    margin-left: auto;
    position: relative;
}

#upperRightCircle {
    position: absolute;
    top: -12rem;
    right: -18rem;
    z-index: -1;
}

#upperRightCircle0 {
    position: absolute;
    visibility: hidden;
}

#upperRightCircle2, upperRightCircle3 {
    position: absolute;
    top: -34rem;
    right: -18rem;
    z-index: -1;
}

#upperRightCircle3 {
    position: absolute;
    visibility: hidden;
}

.mobileTopNav {
    visibility: hidden;
}

/*  Schedule a demo section  */
.formEnterEmail {
    position: relative;
}

.formEnterEmail input {
    border-radius: 24px;
    border: none;
    background-color: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 445px;
    height: 46px;
    padding-left: 2rem;
}

.formEnterEmail input[type=email] {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    opacity: 0.5;
    color: #36536B;
}

.formEnterEmail button {
    position: absolute;
    margin-left: -10.6rem;
}

/*  Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0 11%;
    background-color: #1B262F;
    height: 100px;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLinks a:nth-child(1) {
    filter: brightness(0) invert(1);
    margin-right: 5rem;
    opacity: 1;
}

.footerLinks a {
    color: #FBFCFE;
    opacity: 0.7;
    z-index: 2;
}

.footerLinks a:hover {
    opacity: 1;
}

.footerLinks a:nth-child(3) {
    margin: 0 3rem;
}

.footerLogos img:nth-child(2) {
    margin: 0 1rem;
}

#footerCircle {
    position: absolute;
    top: -8rem;
    right: -20rem;
    z-index: 0;
}


/*  Home page */
/*  Home Header */

.homeHeader {
    margin: 2rem 11% 0rem;
    display: flex;
    justify-content: space-between;
}

.headerText {
    max-width: 36rem;
}

.headerText p {
    margin-left: 2rem;
}

.homeHeader img {
    margin-top: -5rem;
}


/*  Who we work with */

.homeWhoWork {
    display: flex;
    background-color: #1B262F;
    overflow: hidden;
    position: relative;
    height: 520px;
    padding: 0 11%;
}

.homeWhoWork img {
    position: absolute;
    top: -20rem;
    left: -15rem;
}

.whoWorkText {
    margin-top: 5rem;
    max-width: 28rem;
}

.whoWorkText h2 {
    color: #FBFCFE;
    margin-bottom: 1.8rem;
}

.whoWorkText p {
    color: #FBFCFE;
    opacity: 0.7;
    line-height: 28px;
    margin-bottom: 3.5rem;
}

.buttonAboutUs {
    color: #FBFCFE;
    letter-spacing: -0.115;
    border-radius: 24px;
    border: 1px solid #FBFCFE;
    padding: 1rem 2rem;
    position: absolute;
}

.buttonAboutUs:hover {
    color: #1B262F;
    background-color: #FFFFFF;
}

.whoWorkLogos {
    filter: brightness(0) invert(1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 34rem;
    max-height: 10rem;
    margin: 13.5rem 0 0 12%;
}

.whoWorkLogos object:nth-child(1), object:nth-child(4) {
    margin-top: 0.5rem;
}

/*  Easy to implement */

.homeEasyTo {
    display: flex;
    margin: 5rem 11%;
}

.homeEasyTo img {
    margin-left: -4rem;
}

.easyToText {
    margin: 3.5rem 6% 0;
    max-width: 26rem;
}

.easyToText h3 {
    letter-spacing: -0.37px;
    margin-bottom: 0rem;
    font-size: 48px;
    margin-bottom: 2rem;
}


/*  Simple UI & UX */

.homeSimpleUi {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: -5rem 11%;
}

.simpleUiText {
    max-width: 30rem;
    margin-top: 11rem;
}

.simpleUiText h4 {
    margin-bottom: 2rem;
    font-size: 48px;
}

.homeSimpleUi img:nth-child(2) {
    margin-right: -3rem;
}

.homeSimpleUi img:nth-child(3) {
    position: absolute;
    top: -5rem;
    right: -35rem;
    z-index: -1;
}


/*  Home Advantages */

.homeAdvantages {
    margin: 8rem 11% 0;
    display: flex;
    justify-content: space-between;
}

.advantagesColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 31%;
}

.advantagesColumn p:nth-child(2) {
    opacity: 1;
    color: #36536B;
    font-weight: 700;
    margin: 2rem 0 0.3rem 0;
    font-size: 18px;
}

.advantagesColumn p {
    text-align: center;
}


/*  Ready to start? */

.homeReady {
    display: flex;
    justify-content: space-between;
    margin: 6rem 11% 2rem;
}

.homeReady h5 {
    margin-top: 0;
    font-size: 48px;
}


/*  Pricing Page */
/*  Header */

.pricingTitle {
    margin: 0rem 11% 2rem;
}

.pricingPlans {
    margin: 0 11%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.pricePlan {
    max-width: 27%;
}

/*  price plan content */

.planTitle {
    color: #BA4270;
    letter-spacing: -0.246px;
    font-size: 32px;
    line-height: 40px;
}

.planDescription {
    font-style: italic;
}

.planPrice {
    font-size: 56px;
    font-family: "DM Serif Display";
    color: #36536B;
    margin-top: 2.2rem;
}

.firstLine {
    margin-bottom: 2rem;
}

.pricePlan ul {
    margin-left: -1.7rem;
}

.checkmark {
    list-style-type: '\2713';
    padding-left: 1rem;
    margin-top: 0.7rem;
}

.notChecked {
    list-style-type: none;
    padding-left: 1rem;
    margin-top: 0.7rem;
    opacity: 0.6;
}

.secondLine {
    margin: 2rem 0
}

.pricePlan a {
    color: #36536B;
    letter-spacing: -0.115;
    border-radius: 24px;
    border: 1px solid #36536B;
    padding: 1rem 2rem;
    position: absolute;
}

.pricePlan a:hover {
    color: #FBFCFE;
    background-color: #36536B;
}


/*  About page */
/*  page h1 */

.aboutTitle {
    margin: 0rem 17% 4rem;
    max-width: 41rem;
}

.aboutTitle h1 {
    font-size: 56px;
    letter-spacing: -0.43px
}

/*  Our Vision */

.aboutTextContainer {
    margin: 0 17%;
}

.aboutText {
    display: flex;
}

.aboutText h2, h3, h4, h5 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.246px;
    min-width: 12rem;
}

.aboutText p {
    max-width: 38rem;
    margin-left: 6rem;
}


/*  Image middle of the page */

.aboutImage {
    position: relative;
    margin: 6rem 0 4rem;
}

.aboutImage img:nth-child(1) {
    width: 100%;
    max-width: 120rem;
}

#aboutImage2 {
    visibility: hidden;
    position: absolute;
}

.aboutImage img:nth-child(3) {
    position: absolute;
    top: -7rem;
    left: -32rem;
    z-index: -1;
}



/*  Statistics */

.aboutStatsContainer {
    margin: 0 11% 3rem;
    display: flex;
    justify-content: space-between;
}

.aboutStats {
    width: 31.5%;
}

.aboutStats p {
    font-size: 16px;
    opacity: 0.7;
    color: #36536B;
}

.aboutStats p:nth-child(3) {
    font-family: "DM Serif Display";
    color: #BA4270;
    font-size: 56px;
    opacity: 1;
    margin: 2rem 0 2.5rem;
}


/*  Contact us page */
/*  page h1 */
.contactTitle {
    margin: 0rem 11% 0;
}

.contactTitle h1 {
    font-size: 56px;
    max-width: 40rem;
}

/*  Contact form from top to bottom */
.contactFormContainer {
    margin: 4rem 11% 0;
    display: flex;
}

.contactForm input[type=text], .contactForm input[type=email] {
    border: none;
    border-bottom: 1px solid #36536B;
    opacity: 0.5;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.115px;
    padding: 0 0 1rem 1rem;
    color: #36536B;
    margin-bottom: 1.5rem;
    background-color: #EDF3F8;
    width: 100%;
}

.checkBox {
    display: flex;
    width: 24px;
    height: 24px;
    filter: invert(16%);
    position: absolute;
}

.checkText {
    font-family: "Public Sans";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.115px;
    color: #36536B;
    display: inline-block;
    max-width: 28rem;
    margin-left: 3rem;
    margin-top: 0rem;
}

.formButton {
    color: #36536B;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.115;
    border-radius: 24px;
    border: 1px solid #36536B;
    padding: 1rem 3rem;
    background-color: #EDF3F8;
    margin: 2rem 0 0;
}

.formButton:hover {
    color: #FBFCFE;
    background-color: #36536B;
    cursor: pointer;
}

/*  Contact page logos */
.contactLogosContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -6rem 0 0 5rem;
}

.contactLogosContainer p {
    font-family: "DM Serif Display";
    font-size: 24px;
    color: #36536B;
    opacity: 0.75;
    max-width: 30rem;
    margin-bottom: 2.5rem;
}

.formLogos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 34rem;
    margin: 0rem;
}

.formLogos object:nth-child(1) {
    margin-top: 0.5rem;
}

.formLogos object:nth-child(4) {
    margin-top: 2.5rem;
}

.formLogos object:nth-child(5),  .formLogos object:nth-child(6) {
    margin-top: 2rem;
}



@media screen and (max-width: 1290px) {
    .whoWorkLogos {
        width: 22rem;
    }
}

@media screen and (max-width: 1090px) {
    /*  margins from al containers */
    .navigation {
        margin: 3.5rem 4% 0;
    }

    footer {
        padding: 0 4%;
    }

    /*  Home Page */
    .homeHeader {
        margin: 8rem 4% 0rem;
    }

    .homeWhoWork {
        padding: 0 4%;
    }

    .homeEasyTo {
        margin: 5rem 4%;
    }

    .homeSimpleUi {
        margin: -5rem 4%;
    }

    .homeAdvantages {
        margin: 8rem 4% 0;
    }

    .homeReady {
        margin: 6rem 4% 2rem;
    }

    /*  Pricing Page */
    .pricingTitle {
        margin: 7rem 4% 2rem;
    }

    .pricingPlans {
        margin: 0 4%;
    }

    .pricePlan {
        max-width: 31%;
    }

    /*  About Page */
    .aboutTitle {
        margin: 5rem 4% 4rem;
    }

    .aboutTextContainer {
        margin: 0 4%;
    }

    .aboutStatsContainer {
        margin: 0 4% 3rem;
    }

    #aboutCircle {
        display: none;
    }

    /*  Contact Page */
    .contactTitle {
        margin: 5rem 4% 0;
    }

    .contactFormContainer {
        margin: 4rem 4% 0;
    }
}

@media screen and (max-width: 920px) {
    /* nav circle */
    #upperRightCircle {
        top: -40rem;
        margin-left: -30rem;
        left: 50%;
        right: 50%rem;
        width: 949px;
    }
    /*  Home Page */
    /*  Header */
    .homeHeader {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .homeHeader img {
        max-height: 400px;
        margin-left: 1rem;
        margin-bottom: -3.5rem;
    }

    .headerText {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 32rem;
        text-align: center;
    }

    .headerText h1 {
        font-size: 48px;
    }

    /*  Who we work with */
    .homeWhoWork {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        height: 718px;
    }

    .whoWorkLogos {
        height: 30rem;
        margin: 7rem 0 0 0;
        width: 36rem;
    }

    .homeWhoWork img {
        position: absolute;
        top: -20rem;
        left: -15rem;
    }
    
    .whoWorkText {
        margin-top: 1rem;
        text-align: center;
    }
    
    .whoWorkText p {
        margin-bottom: 2.5rem;
    }

    .homeWhoWork img {
        top: -40rem;
        margin-left: -30rem;
        left: 50%;
        right: 50%;
        width: 949px;
    }

    .buttonAboutUs {
        margin-left: -4rem;
    }

    /*  Easy to implement */
    .homeEasyTo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 4%;
    }
    
    .homeEasyTo img {
        margin-left: 2.8rem;
        max-width: 550px;
    }
    
    .easyToText {
        margin: -6rem 0 0 0;
        text-align: center;
        max-width: 36rem;
    }
    
    /*  Simple UI & UX */
    .homeSimpleUi {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: baseline;
        margin: 0rem 4%;
    }
    
    .simpleUiText {
        max-width: 35rem;
        margin-top: -5rem;
        text-align: center;
    }
    
    .simpleUiText h4 {
        margin-bottom: 2rem;
    }
    
    .homeSimpleUi img:nth-child(2) {
        max-width: 503px;
    }
    
    .homeSimpleUi img:nth-child(3) {
        display: none;
    }

    /*  Home Advantages */
    .homeAdvantages {
        margin: 6rem 4% 0;
        display: flex;
        justify-content: space-between;
    }

    /*  Ready to start? */

    .homeReady {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 6rem 0 6rem;
    }

    .homeReady h5 {
        margin-bottom: 3rem;
    }

    /*  Pricing Page */
    .pricingTitle {
        margin: 0rem 4% 2rem;
        text-align: center;
    }

    .pricePlan {
        text-align: center;
        max-width: 32%;
        margin-bottom: 4rem;
    }

    .pricePlan ul{
        text-align: left;
        margin-left: 10%;
    }

    .pricePlan a {
        margin-left: -5rem;
    }

    .planTitle {
        letter-spacing: -0.18px;
        font-size: 24px;
        line-height: 40px;
    }
    
    .planPrice {
        font-size: 48px;
    }

    /*  About Page */
    .aboutTitle h1 {
        font-size: 48px;
    }

    .aboutText p {
        margin-left: 1rem;
    }

    /*  Contact Page */
    .contactTitle {
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 0 0 0;
    }

    .contactTitle h1 {
        font-size: 48px;
        line-height: 56px;
    }

    .contactFormContainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 2rem 0 0 0;
        max-width: 100%;
    }

    .contactForm {
        width: 50%;
    }

    .checkText {
        text-align: left;
    }
    
    .contactForm button {
        margin-left: -17rem;
    }

    .contactLogosContainer {
        margin: 4rem 0 0 0;
    }
}

@media screen and (max-width: 720px) {
    /*  Pricing Page */
    .pricingTitle h1 {
        font-size: 42px;
    }

    .pricingPlans {
        flex-direction: column;
    }

    .pricePlan {
        max-width: 100%;
        margin: 0 0 7rem 0;
    }

    .planTitle {
        margin: 1rem 0 0 0;
    }
    
    .planPrice {
        margin: 1.5rem 0 3rem 0;
    }

    .pricePlan ul{
        margin-left: 30%;
    }

    .pricePlan a {
        margin: 0 0 0 -5.6rem;
    }

    /*  About Page */
    .aboutTitle {
        text-align: center;
        margin: 0 4% 0 0;
    }

    .aboutTitle h1 {
        font-size: 32px;
        letter-spacing: -0.24px;
        line-height: 36px;
    }

    .aboutText {
        flex-direction: column;
        text-align: center;
    }

    .aboutText h2, h3, h4, h5 {
        font-size: 24px;
        margin: 2rem 0 -0.3rem 0;
    }

    #aboutImage1 {
        display: none;
    }

    #aboutImage2 {
        visibility: visible;
        position: relative;
        width: 100%;
    }

    .aboutStatsContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }

    .aboutStats {
        width: 100%;
    }

    .aboutStats hr {
        visibility: hidden;
        position: absolute;
    }

    .aboutStats #hrDisplay {
        visibility: visible;
        position: relative;
        max-width: 100%;
    }

    .aboutStats p:nth-child(3) {
        margin: 1.5rem 0 2.5rem;
    }

    /*  Contact Page */
    .contactTitle {
        justify-content: flex-start;
    }

    .contactTitle h1 {
        font-size: 32px;
        line-height: 36px;
        max-width: 40rem;
    }

    .contactFormContainer {
        margin: 2rem 4%;
        text-align: start;
    }

    .contactForm {
        width: 100%;
    }

    .contactForm button {
        margin: 2rem 0 0 0;
    }

    .contactLogosContainer {
        text-align: center;
    }


}

@media screen and (max-width: 660px) {
    /*  Site Wide */
    footer {
        flex-direction: column;
        justify-content: space-evenly;
        height: 350px;
    }
    
    .footerLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .footerLinks a:nth-child(1) {
        filter: brightness(0) invert(1);
        margin: 2rem 1rem 2rem 0;
        margin-right: 1rem;
        opacity: 1;
    }

    .footerLinks a:nth-child(3) {
        margin: 2rem 0rem;
    }
    
    #footerCircle {
        top: 12rem;
        margin-left: -30rem;
        left: 50%;
        right: 50%rem;
        width: 949px;
    }

}

@media screen and (max-width: 570px) {
    /*  Site wide */
    /*  Hide normal navigation */
    #upperRightCircle0

    .navigation {
        visibility: hidden;
    }

    /*  Mobile navigation */
    .mobileTopNav {
        overflow: hidden;
        background-color: #D2DBE3;
        position: relative;
        margin-top: -7rem;
        visibility: visible;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    
    .mobileTopNav #myLinks {
        display: none;
    }
    
    .mobileTopNav a {
        color: #36536B;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    .mobileTopNav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 55px;
    }
    
    .mobileTopNav a:hover {
        background-color: #ddd;
        color: white;
    }
    
    .active {
        background-color: #04AA6D;
        color: white;
    }

    /*  Home Page */
    /*  home header */
    .headerText {
        max-width: 20rem;
    }

    .headerText h1 {
        font-size: 32px;
        line-height: 36px;
    }

    /*  Schedule a Demo input */
    .formEnterEmail {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 80%;
    }
    
    .formEnterEmail input {
        width: 100%;
    }
    
    .formEnterEmail button {
        position: relative;
        margin-left: 0rem;
        margin-top: 1rem;
        width: 100%;
    }

    /*  Who we work with */
    .whoWorkLogos {
        max-width: 20rem;
    }

    .whoWorkText h2 {
        font-size: 32px;
        margin-bottom: 0;
    }

    /*  Easy to implement */
    .homeEasyTo img {
        max-width: 420px;
    }

    .easyToText h3 {
        font-size: 36px;
        margin: 4rem 0 1rem 0;
    }

    /*  Simple UI */
    .homeSimpleUi img:nth-child(2) {
        max-width: 400px;
    }

    .simpleUiText h4 {
        font-size: 36px;
        margin: 4rem 0 2rem 0;
    }

    /*  Home Advantages */
    .homeAdvantages {
        flex-direction: column;
        margin-top: 5rem;
    }

    .advantagesColumn {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .formLogos {
        max-width: 20rem;
        margin-left: 13%;
    }

    .formLogos object:nth-child(3) {
        margin-top: 2.5rem;
    }
}